span.status {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: -20px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  &.active:before {
    background: #4a9d5c;
  }
  &.inactive:before {
    background: #d83731;
  }
  &.neverUsed:before {
    background: #f5ac7c;
  }
}
.aegov-accordion .accordion-title button.accordion-active {
  color: black;
}
.aegov-accordion .accordion-title button {
  align-items: center;
}
.aegov-accordion {
  .accordion-item {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .accordion-content,
  .top-separator {
    border-top: 1px solid #c3c6cb;
  }
}
